.btn-secondary-rounded {
  background-color: rgba(206, 205, 222, 0.2);
  color: #8365FF;
  border-radius: 0.375rem;
}

.btn-secondary-rounded:hover {
  background-color: rgba(206, 205, 222, 0.35);
  color: #8365FF;
}

.btn-secondary-rounded:active {
  border-color: rgba(206, 205, 222, 0.10) !important;
  background-color: rgba(206, 205, 222, 0.35) !important;
  color: #8365FF !important;
}